    .container{
    max-width: 1340px;
    background-color: #fff;
    margin: 55px;
    border-radius: 10px;
}

hr{
    width: 1328px;
    height: 1px;
    margin: 0 auto;
    background-color: #F7F7F7;
}

